main {
  .detail-header {
    background-image: radial-gradient(rgba(20, 21, 51, 0.8), rgba(20, 21, 51, 0.8)), url(../../../images/soft3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 180px 0 50px;

    .detail-content {
      display: grid;
      place-items: center;
      gap: 20px;

      .description {
        margin: auto;
        width: 600px;
        text-align: center;
        font-size: 18px;

        @media(max-width:600px) {
          width:200px
        }
      }
    }

    .detail-description {
      display:flex;
      justify-content: center;
      justify-content: center;
      flex-direction: column;
      width:400px;
      margin:0 auto;
      text-align: center;
      border: 2px solid #fff;
      padding: 10px;
      border-radius: 20px;

      @media(max-width:700px) {
        width:350px
      }

      @media(max-width:500px) {
        width:300px
      }

      .icons {
        font-size: 40px;

      }

      .text {
        font-size: 18px;
      }

    }
  }

  #image-detail {
    width: 100px;
    height: 100px;
    object-fit: cover;
  }

  .btn-detail {
    background-image: linear-gradient(#008000, #006400);
    width: 300px;
    max-width: 400px;
    padding: 10px 0 10px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    text-decoration: none;
    cursor: pointer;
    border: none;
    color: #fff;
    font-weight: 900;
    font-size: 20px;
    transition: 0.9s;

    &:hover {
      transform: scale(1.05);
      background-image: linear-gradient(rgb(128, 0, 0), rgb(100, 0, 0));
      color: #fff;
    }
  }

  .action {
    padding: 40px 0 30px;

    .action-button {
      display:flex;
      justify-content: center;
      gap:10px;
      @media(max-width:900px){
        display:flex;
        flex-wrap: wrap;
      }

      .skill,
      .program,
      .teacher,
      .testimony {
        font-weight: bold;
        font-size: 20px;
        text-decoration: none;
        color: #fff;
        cursor: pointer;

        &:hover {
          color: rgb(235, 235, 7)
        }
      }
      .skill, .testimony, .program, .teacher{
        border-radius:30px;
        padding:10px 20px;
        color:#fff;
        border:none;
        transition: all ease;
        &:hover{
          transform:scale(1.03)
        }
      }
      .skill{
        background: #8a2be2;
        
      }

      .program{
        background:rgb(23, 118, 118);
      }

      .testimony{
        background: #6c757d;
      }

      .teacher{
        background: #1d5390;
      }
    }

  }

  /*SKILL CONTAINER*/

  .skill-container {
    background: radial-gradient(silver, rgb(188, 177, 177));
    padding: 50px 0 50px;

    .skill-header {
      text-align: center;
    }

    .skill-content {
      padding: 50px 0 100px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 30px;

      @media(max-width:1000px) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
      }

      @media(max-width:750px) {
        display: grid;
        grid-template-columns: 1fr;
      }

      .skill-block {
        position: relative;
        background-color: #e1dddd;
        cursor: pointer;
        border-radius: 20px;

        .skill-detail {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 300px;
          flex-direction: column;
        }

        #skill-image {
          width: 40px;
          height: 40px;
          object-fit: cover;
        }

        .skill-descrip {
          position: absolute;
          top: 0;
          height: 0px;
          padding: 80px 20px;
          cursor: pointer;
          border-radius: 20px;
          text-align: center;
          background-color: azure;
          transition: 0.5s ease;
          opacity: 0;

        }

        &:hover {
          .skill-descrip {
            height: 300px;
            opacity: 1;
          }
        }
      }

    }

  }

  .program-wrapper {
    padding: 100px 0 100px;

    .program-container {
      display: grid;
      grid-template-columns: 1fr;
      gap: 10px;

      .program-content {
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 5px;

        @media(max-width:1000px) {
          display: grid;
          grid-template-columns: 1fr;
        }

        .program-images {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          gap: 20px;

          @media(max-width:1000px) {
            display: grid;
            grid-template-columns: 1fr;
          }

          #pic {
            width: 100%;
            height: 300px;
            object-fit: cover;
            border-radius: 20px;
          }
        }
      }
    }

  }

  .story-section {
    background-image: radial-gradient(ghostwhite, silver);
    padding: 100px 0 100px;

    .story-container {
      display: grid;
      grid-template-rows: 1fr;
      grid-template-columns: repeat(3, 1fr);
      gap: 30px;

      @media(max-width:1200px) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
      }

      @media(max-width:900px) {
        display: grid;
        grid-template-columns: 1fr;
      }

      .story-detail {
        border: 3px solid #8a2be2;
        padding: 10px;
        border-radius: 20px;
        transition: all 0.9s;

        &:hover {
          transform: translateY(-10px)
        }

        #student-image {
          width: 70px;
          height: 70px;
          border-radius: 100px;
          border: 2px solid #8a2be2;

          &:hover {
            border: 1px solid #fff;
          }
        }

        .icon {
          font-size: 40px;
          color: #8a2be2;

        }

        h5 {
          font-weight: bolder;
        }

      }

    }
  }





  .team-section {
    padding: 100px 0 50px;
    background-color: #e4e4e4;

    .team-header {
      text-align: center;
      margin-bottom: 100px;
    }

    .team-container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 40px;

      @media(max-width:700px) {
        display: grid;
        grid-template-columns: 1fr;
      }

      .team-wrapper {
        cursor: pointer;

        .arrival-text {
          padding: 10px
        }

        .team-detail-1 {
          background-image: radial-gradient(rgba(20, 21, 51, 0.1), rgba(20, 21, 51, 0.1)), url(../../../images/stu1.jpg);
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
          position: relative;
          overflow: hidden;
          height: 200px;
          width: 200px;
          border-radius: 100px;
          transition: all 0.9s ease;
          cursor: pointer;
          box-shadow: 3px 3px 3px 3px silver;

          &:hover {
            background-image: radial-gradient(rgba(20, 21, 51, 0.6), rgba(20, 21, 51, 0.6));

          }

          img {
            width:200px;
            height:200px;
            border-radius: 100px;
          }

          .icons {
            position: absolute;
            left: 50%;
            transform: translateX(-50%) translateY(140px);
            padding: 10px 20px;
            bottom: 50%;
            cursor: pointer;
            opacity: 0;
            transition: all 0.9s ease;

            svg {
              border-radius: 100px;
              height: 20px;
              width: 20px;
              background-color: orange;
              padding: 3px;
            }

          }

          &:hover {
            .icons {
              opacity: 1;
              transform: translateX(-50%) translateY(80px);
            }


          }
        }


        .team-detail-2 {
          background-image: radial-gradient(rgba(20, 21, 51, 0.1), rgba(20, 21, 51, 0.1)), url(../../../images/stu2.jpg);
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
          position: relative;
          overflow: hidden;
          height: 200px;
          width: 200px;
          border-radius: 100px;
          transition: all 0.9s ease;
          cursor: pointer;
          box-shadow: 3px 3px 3px 3px silver;

          &:hover {
            background-image: radial-gradient(rgba(20, 21, 51, 0.6), rgba(20, 21, 51, 0.6));

          }

          img {
            width: 200px;
            height: 200px;
            border-radius: 100px;
          }

          .icons {
            position: absolute;
            left: 50%;
            transform: translateX(-50%) translateY(140px);
            padding: 10px 20px;
            bottom: 50%;
            cursor: pointer;
            opacity: 0;
            transition: all 0.9s ease;

            svg {
              border-radius: 100px;
              height: 20px;
              width: 20px;
              background-color: orange;
              padding: 3px;
            }

          }

          &:hover {
            .icons {
              opacity: 1;
              transform: translateX(-50%) translateY(80px);
            }


          }
        }


        .team-detail-3 {
          background-image: radial-gradient(rgba(20, 21, 51, 0.1), rgba(20, 21, 51, 0.1)), url(../../../images/stu3.jpg);
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
          position: relative;
          overflow: hidden;
          height: 200px;
          width: 200px;
          border-radius: 100px;
          transition: all 0.9s ease;
          cursor: pointer;
          box-shadow: 3px 3px 3px 3px #c0c0c0;

          &:hover {
            background-image: radial-gradient(rgba(20, 21, 51, 0.6), rgba(20, 21, 51, 0.6));

          }

          img {
            width: 200px;
            height: 200px;
            border-radius: 100px;
          }

          .icons {
            position: absolute;
            left: 50%;
            transform: translateX(-50%) translateY(140px);
            padding: 10px 20px;
            bottom: 50%;
            cursor: pointer;
            opacity: 0;
            transition: all 0.9s ease;

            svg {
              border-radius: 100px;
              height: 20px;
              width: 20px;
              background-color: #ffa500;
              padding: 3px;
            }

          }

          &:hover {
            .icons {
              opacity: 1;
              transform: translateX(-50%) translateY(80px);
            }
          }
        }

      }

    }

  }


 

}

.register-container{
  background: linear-gradient(267deg,#e4e4e4 0.36%,#fcdddd 332.6%);
    padding:50px 0 100px;
    .register-content{
      display:flex;
      gap:80px;
      @media(max-width:1000px){
        display:grid;
        grid-template-columns:1fr;
      }
     
       .register-detail{
        #register{
          width:100%;
          height:500px;
        }
       }
      

      form{
        display: grid;
        grid-template-columns:1fr;
        gap:10px;
        width:100%;
        background-color:#d4d4d4;
        padding:30px;
        input{
          border:1px solid #c0c0c0;
          background-color: transparent;
          outline:none;
          padding:15px;
        }

        #btn{
          background-color:#969696 ;
          font-size:20px;
          font-weight:bolder ;
          color: #fff;
          transition: all ease 0.5s;
          &:hover{
           background:#6c757d;
           transform:scale(1.03)
          }
        }
        .link{
          text-decoration:none;
          color:#8a2be2;
        }
      }
    }

  
}