main {
  .contact-container {
    background-image: linear-gradient(rgba(20, 21, 51, 0.8), rgba(20, 21, 51, 0.8)), url(../../images/imageAbout2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 180px 0 30px;
    color: #fff;
    font-style: italic;
    font-family: 'script segoe';
    font-weight: 700
  }


  /*Notice section*/
  .notice-section {
    background-image: radial-gradient(rgba(20, 21, 51, 0.1), rgba(20, 21, 51, 0.1)), url(../../images/edu.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 70px 0 100px;

  }
}