nav{
    .head-link{
        font-weight: bold;
        transition: all ease 0.5s;
        color:white;
        &:hover{
            color:rgb(31, 4, 4);
            transform: translateX(7px);
        }
    }
}